@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.06s !important;
        transition-duration: 0.06s !important;
    }
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: rotate3d(0, 0, 1, -6deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: rotate3d(0, 0, 1, 6deg);
    }

    40%,
    60%,
    80% {
        transform: rotate3d(0, 0, 1, -6deg);
    }
}
