@font-face {
    font-family: 'merriweather_sansbold';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local('Merriweather_Sans_Bold'),
        url('/assets/fonts/merriweathersans-bold-webfont.woff2') format('woff2'),
        url('/assets/fonts/merriweathersans-bold-webfont.woff') format('woff');
}
