{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}

{# General #}
<meta name="description" content="{{ description or meta.description }}">
<link rel="canonical" href="{{ absolutePageUrl }}">
<meta name="robots" content="index, follow" />
<meta name="author" content="Calum Ryan" />
<link rel="author" href="https://calumryan.com/about" title="About the author" />

{# Open Graph #}
<meta property="og:site_name" content="{{ meta.title }}">
<meta property="og:title" content="{{ title or meta.title }}">
<meta property="og:description" content="{{ description  or meta.description }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:locale" content="{{ meta.locale }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ '/assets/images/cover.jpg' | absoluteUrl(meta.url) }}">

{# Favicon #}
<link rel="apple-touch-icon" href="{{ '/assets/images/icon.png' | absoluteUrl(meta.url) }}" type="image/png" />
<link rel="shortcut icon" href="{{ '/assets/images/favicon-300.png' | absoluteUrl(meta.url) }}" sizes="300x300" type="image/png" />
<link rel="icon" href="{{ '/assets/images/favicon-96.png' | absoluteUrl(meta.url) }}" sizes="96x96" type="image/png" />
<link rel="icon" href="{{ '/assets/images/favicon-32.png' | absoluteUrl(meta.url) }}" sizes="32x32" type="image/png" />
<link rel="icon" href="{{ '/assets/images/favicon-16.png' | absoluteUrl(meta.url) }}" sizes="16x16" type="image/png" />

{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ meta.url }}/feed.xml" title="{{ meta.title }}">