{% if post %}
<article class="card reorder">
    <h2><a href="{{ post.data.url }}">{{ post.data.title }}</a></h2>
    {{ post.templateContent | safe }}
    <div class="card-meta">
        <time datetime="{{ post.date | rssDate }}">Audited {{ post.date | dateToFormat('dd/MM/yyyy') }}</time>{% if post.data.wcag_grade %} - WCAG {{ post.data.wcag_grade }} (overall){% endif %}
        {% if post.data.updated %}<div class="card-ribbon">Updated audit</div>{% endif %}
    </div>
    {% if post.data.image %}
    <img src="/assets/images/screenshots/{{ post.data.image }}" width="640" height="360" loading="lazy" alt="" />
    {% endif %}
</article>
{% endif %}