.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.card {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 3px;
    border: 2px $brand-white solid;
    border-radius: .6em;
    background-color: $brand-blue;

    /* End of moving the image above the heading */
    > * a, > .cta {
        display: block;
    }

    h2 {
        margin-bottom: .5rem;
        @include underline-decorated;
        font-family: $font-family-display;
    }
  
    h2 > a {
        text-decoration: none;
        color: inherit;
    }
}
  
/* Start of moving the image above the heading */
.reorder {
    display: flex;
    flex-direction: column;

    img {
        max-width: 100%;
        height: auto;
        order: -1;
        margin-bottom: .75rem;
    }
}
  
.linkify:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8);

    h2 {
        text-decoration: none;
    }
}

.cards .isfocused {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8);
    background-color: $brand-white;
    color: $brand-blue;
}

.isfocused a:focus {
    outline: none;
}
  
