.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    margin: 0 0 3rem 0;
    padding: 1rem;
    border: 2px $brand-white solid;
    border-radius: 0.6em;
    background-color: $brand-blue;
    position: relative;

    /* End of moving the image above the heading */
    > * a,
    > .cta {
        display: block;
    }

    h2 {
        margin-bottom: 0.5rem;
        @include underline-decorated;
        font-family: $font-family-display;
        font-size: 1rem;
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

        &:hover {
            text-decoration: none;
        }
    }

    h2 > a {
        text-decoration: none;
        color: inherit;

        &:focus {
            background-color: $brand-white;
            color: $brand-blue;
        }
    }
}

.card-meta {
    margin: 1rem 0 0 0;
    text-align: right;
    font-family: $font-family-display;
}

.card-ribbon {
    background-color: $brand-white;
    color: $brand-blue;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.3rem 0.5rem;
    border-radius: 0 0.3rem 0 0.6rem;
}

/* Start of moving the image above the heading */
.reorder {
    display: flex;
    flex-direction: column;

    img {
        max-width: 100%;
        height: auto;
        order: -1;
        margin-bottom: 0.75rem;
    }
}

.linkify:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8);

    h2 {
        text-decoration: none;
    }
}

.cards .isfocused {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8);
    background-color: $brand-white;
    color: $brand-blue;
}

.isfocused a:focus {
    outline-color: transparent;
}
