.form {
    padding: 1rem 0;

    &__field {
        margin-bottom: 1rem;
    }
    &__label {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    &__input {
        display: block;
        width: 100%;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        font-family: $font-family-base;
        font-weight: 400;
        border: 1px solid $text-color;
        color: #000;
        background-color: $gray-lightest;
        border: 5px solid #fff;
        margin-bottom: 2rem;

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #000;
            opacity: 0.6;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #000;
            opacity: 0.6;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: #000;
            opacity: 0.6;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #000;
            opacity: 0.6;
        }

        &:focus {
            border: 5px dotted $brand-blue;
            background-color: #fff;
            outline: 0;
        }
    }
    &__action {
        text-align: right;
    }
}
