---
title: Home
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
isHome: true
---
{% set postsCount = collections.showcase | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

{% set postslist = collections.showcase | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist-thumbs.njk" %}


{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
