---
layout: layouts/home.njk
eleventyNavigation:
  key: Showcase
  order: 2
eleventyImport:
  collections: ["showcase"]
pagination:
  data: collections.showcase
  size: 6
permalink: "different/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
<h1>Showcase</h1>

<div class="page__content">
    
    {% if pagination.items.length %}
        <ul class="cards">
            {% for post in pagination.items %}
            <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
              <a href="{{ post.data.link }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
              <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
            </li>
            {% endfor %}
        </ul>

        {% if collections.showcase.length > pagination.size %}
            <nav class="pagination" aria-label="Pagination links">
                {% if pagination.href.next %}<a class="nav__link" href="{{ pagination.href.next }}" data-direction="backwards">Later features</a>{% endif %}
                {% if pagination.href.previous %}
                <a class="nav__link" href="{{ pagination.href.previous }}" data-direction="forwards">Newer features</a>{% endif %}
            </nav>
        {% endif %} 

    {% else %}
        <p>No showcases yet.</p>
    {% endif %}

    <a class="nav__link nav__center" href="#header" data-direction="up">Back to top of page</a>

</div>