---
title: Showcase
layout: layouts/home.njk
eleventyNavigation:
  key: Showcase
  order: 2
eleventyImport:
  collections: ["showcase"]
pagination:
  data: collections.showcase
  size: 6
permalink: "showcase/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

<div class="page-header">
  <h1>Showcase</h1>
  <p>Assessing a website's overall level of accessibility is a time-consuming process involving a combination of automated and manual testing, as well as user testing whenever possible. These guides offer an overview of the approach and methods you can use to evaluate your own website's accessibility.</p>
</div>

<div class="page__content">
    
    {% if pagination.items.length %}
        <ul class="postlist scroll-grid">
            {% for post in pagination.items %}
            <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
              {% if post.data.image %}
              <img src="/images/screenshots/{{ post.data.image }}" width="640" height="360" loading="lazy" alt="" />
              {% endif %}
              <a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
              <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
            </li>
            {% endfor %}
        </ul>

        {% if collections.showcase.length > pagination.size %}
            <nav class="pagination" aria-label="Pagination links">
                {% if pagination.href.next %}<a class="nav__link" href="{{ pagination.href.next }}" data-direction="backwards">Later features</a>{% endif %}
                {% if pagination.href.previous %}
                <a class="nav__link" href="{{ pagination.href.previous }}" data-direction="forwards">Newer features</a>{% endif %}
            </nav>
        {% endif %} 

    {% else %}
        <p>No showcases yet.</p>
    {% endif %}

    <a class="nav__link nav__center" href="#header" data-direction="up">Back to top of page</a>

</div>