---
layout: page
title: Most websites aren't accessible for all
meta_title: About
description: "We need more websites built with an accessible-first approach so that the World Wide Web lives up to being for everyone, as its inventor Sir Tim Berners-Lee originally intended."
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---

<p>A11Y Websites showcases websites that have correctly implemented all or most of the ingredients to meet success criteria set out in the <a href="https://www.w3.org/TR/WCAG21/">WCAG (Web Content Accessibility Guidelines) 2.1</a> to be accessible for as many users as possible.</p>
<p>Hopefully you'll find the website a helpful starting point if you're looking to make your own website more accessible or looking for inspiration from accessible websites.</p>
<p>All websites featured are reviewed by <a href="https://calumryan.com">Calum Ryan</a>, the author of this website, with automated and manual accessibility testing methods.</p>
<p>Attributions for this website goes to <a href="https://mxb.dev/">Max Böck</a> which this website took inspiration from using code and design from <a href="https://github.com/maxboeck/whimsical">The Whimsical Web</a> and Joel Strohmeier's method for <a href="https://www.nomensa.com/blog/author/jstrohmeier">building accessible cards–block links</a>.</p>
<p>A11Y Websites was built using <a href="https://www.11ty.dev/">Eleventy</a> which is a static website generator.</p>