---
layout: page
title: Submit a website
meta_title: Submit a website
description: "Have you made an accessible website that meets WCAG 2.1 (AA) and would like it tested?"
permalink: /join/
eleventyNavigation:
  key: Submit a website
  order: 1
---

<p>See the <a href="{{ meta.repo }}">instructions on Github</a> to add your website for review. Alternatively, you can use this form to submit a site. If your website passes all the checks, or comes very close, then it'll get featured here.</p>

<p>Before submitting your website please check that you have met as many as possible of the Web Content Accessibility Guidelines (WCAG) 2.1 success criteria by reading through <a href="https://www.w3.org/WAI/WCAG21/quickref/">How to Meet WCAG</a> including single and double AA levels.

{% include "submitform.njk" %}