<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }} – {{ metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

		<link rel="apple-touch-icon" href="{{ 'images/icon.png' | absoluteUrl(meta.url) }}" type="image/png" />
		{# <link rel="shortcut icon" href="{{ 'images/favicon-300.png' | absoluteUrl(meta.url) }}" sizes="300x300" type="image/png" /> #}
		<link rel="icon" href="{{ '/images/favicon-96.png' | absoluteUrl(meta.url) }}" sizes="96x96" type="image/png" />
		<link rel="icon" href="{{ '/images/favicon-32.png' | absoluteUrl(meta.url) }}" sizes="32x32" type="image/png" />
		<link rel="icon" href="{{ '/images/favicon-16.png' | absoluteUrl(meta.url) }}" sizes="16x16" type="image/png" />
		<meta property="og:image" content="/images/cover.jpg">
		<meta property="og:locale" content="en_gb">
		<meta property="og:url" content="https://a11ywebsites.com/">


		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<a href="#content" class="sr-skip-link">Skip to main content</a>

		<header id="header">

			<div class="container">

				{% if isHome == true %}
				<div class="logo-wrapper">

					<a href="/" class="home-link" aria-label="A11Y Websites - home">
						{% include "logo.njk" %}
					</a>

					<div>

						<h1>{{ metadata.title }}</h1>
						<p>Your guide and inspiraton for accessible websites</p>

						{% include "nav.njk" %}

					</div>

				</div>
				{% else %}

				<div class="nav-wrapper">

					<a href="/" class="home-link home-link--small">
						{% include "logo.njk" %}
						A11Y Websites
					</a>

					{% include "nav.njk" %}

				</div>

				{% endif %}

			</div>

		</header>

		<main id="content">
			<div class="container">
			{{ content | safe }}
			</div>
		</main>

		<footer class="page-footer">
			<div class="container">
				<p>&copy; 2020-2025 A11Y Websites</p>
				<a class="nav-top" href="#header" data-direction="up">Back to top of page</a>
			</div>
		</footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
